* {
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}


body {
    background-image: url(bg3.jpg); 
    background-size: cover;
    backdrop-filter: 5px;
    color: rgb(47, 150, 209);
    width: 75%;
    
}


.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50%);
    width: 350px;
}

.registration-form h1{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    margin-top: 10px;
    text-align: center;
    color: rgb(29, 146, 117);

}
.registration-form p{
    font-size: 12px;
    color: rgb(151, 207, 203);
    margin: 7px 0;
}

.registration-form input{
    font-size: 10px;
    padding: 8px 5px;
    width: 100%;
    border: rgb(10, 30, 148);
    border-bottom: rgb(10, 30, 148);
    border-radius: 10px;
    outline:blue;

}
.registration-form button{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 35%;
    border: powderblue;
    border-radius: 10px ;
    background-color: tomato;
}
.registration-form button:hover{
    color: mediumblue;
}
